.footer
{
  background-color: black;
  color: aliceblue;

  
}
.footer p
{
    padding: 10px;
    margin-bottom: 0;
}


.footerproductos
{
    
    margin-top: 100px;
}
.footerproductos p
{
    padding: 20px;
    
    
}