.footer
{
  background-color: black;
  color: aliceblue;

  
}
.footer p
{
    padding: 7px;
    margin-bottom: 0;
}


.footerproductos
{
    
    margin-top: 100px;
}
.footerproductos p
{
    padding: 20px;
    bottom: 0;
}