body
{
    background-color: rgb(213, 215, 218);
   
}
nav ul li a
{
    color: rgb(230, 225, 235);
    text-decoration: none;
    
}
nav ul
{
    width: 100%;
    margin: auto;
   
    list-style-type: none;
    background-color: black;
   
}
nav li
{
    display: inline flex;
    
    
}
nav a
{
    padding: 20px;
    width: 150px;
}
nav ul a:hover
{
    background-color:rgb(10, 61, 73);
}
